html {
    height: 100%;
}

body {
    min-height: 100%;
}

.contactImage {
    grid-area: I;
    background-image: url("/pictures/lettre-mail.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    height: 10rem;
    width: 10rem;
    box-shadow: 0 0 15px black;
}

@media screen and (min-width: 850px) {
    .contactImage {
        height: 17rem;
        width: 17rem;
    }
}


body>p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

form {
    margin-bottom: 1rem;
    margin-top: 1rem;
}


textarea {
    width: 20rem;
    height: 5rem;
    padding: 0.35rem;
    margin-top: 0.5rem;
}

@media screen and (min-width: 850px) {
    textarea {
        width: 30rem;
        height: 7rem;
    }
}


.contactGrid {
    display: grid;
    grid-template-areas:
        "N I"
        "E I"
}

.contactName {
    grid-area: N;
    margin: 0;
    margin-right: 1rem;
    align-self: center;
}

.contactEmail {
    grid-area: E;
    margin-right: 1rem;
}

#submit {
    padding: 1rem;
}

#contactForm {
    margin-left: calc(100%/10);
}

input {
    padding: 0.35rem;
    margin-top: 0.5rem;
}