footer {
    width: 100%;
    bottom: 0;
    background-color: var(--primary-background-color);
    height: 100px;
    margin-top: 1rem;
}


.divfooter {

    width: 100%;
    margin-top: 5px;
    border-bottom: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logofooter {
    width: 100px;
    margin: 0;
}

.footertext {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: whitesmoke;
    text-shadow: var(--main-font-color) 0.1em 0.1em 0.2em;
    text-align: center;
}