footer{
    width: 100%;
<<<<<<< HEAD
    bottom: 0px;

}

.divfooter {

}

.logofooter {
    width: 15%;
    margin-top: 10px;
}

.footertext {
    padding: 2% 0;
    color:whitesmoke;
    text-shadow: var(--main-font-color) 0.1em 0.1em 0.2em;
}