header {
    background-color: var(--primary-background-color);
    padding: 1rem;
}

.logo {
    width: 30%;
    float: left;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}


ul {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ul li {
    list-style: none;
    padding: 0;
    margin-left: 1rem;
}

.headernavimg {
    width: 50%;
}

ul li:hover {
    filter: drop-shadow(0 0 10px var(--secondary-background-color));
}

.headernavimg:active {
    filter: drop-shadow(0 0 50px white);
}

.headernavimg {
    clip-path: ellipse(50% 50%);
}

