header {
    width: 100%;
    background-color: var(--primary-background-color);
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-background-color);
    color: white;
    padding: 0.2rem;
}

.logo {
    /* width: 15%;
    margin: 1rem;*/
    margin: 1rem;
    transition: 2s;
    width: fit-content;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background-color: var(--primary-background-color);
    padding: .5rem 1rem;
}

.navbar-links li a:hover {
    background-color: white;
    color: var(--primary-background-color);
}

.toggle-button {
    position: absolute;
    top: center;
    right: 1rem;
    /*top: 3rem;*/
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 21px;
    margin: 1rem;
    margin-top: 1.2rem;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--primary-background-color);
        transition: 2s;
    }

    .navbar-links li:hover {
        letter-spacing: 5px;
    }

    .navbar-links li a:hover {
        background-color: white;
        color: var(--primary-background-color);
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}