header {
    display:block;
    width:100%;
}

.navbaritemlogo {
    width: 350px;
    margin-right: 3rem;
    margin-left: 1rem;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    background-color: var(--primary-background-color);
    height: 5rem;
}

.navbarmenu {
    list-style: none;
    display: flex;
    align-items: center;
}
.navbaricone {
    width: 20%;
    }
.narvbaritem {
    margin: 0px;
    padding-left: 50px;
}

.narvbarlink:active {
    filter: drop-shadow(0 0 50px white);
}

.navbaritem:hover {
    filter: drop-shadow(0 0 10px var(--secondary-background-color))
}
