.indexBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--h1-text-color);
    text-shadow: var(--main-font-color)  0.05em 0.05em ;
    
}

.indexh2{
    text-align: center;
}

img{
    max-width: 90%;
    margin: 5%;
    margin-bottom: 0%;
}


p{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
}