.trombiSection{

    margin-top: 2rem;
display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.trombiDiv{
    background-color: white;
    border-radius: 180px;
    border: solid 2px;
    border-color: var(--border-color);
    margin-left: 5%;
    margin-right: 5%;
}

.trombiDiv > img {
    width: 100%;
    border-radius: 180px;
}

h3{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;

}

@media screen and (min-width: 840px){
    .trombiSection{
        margin-top: 2rem;
        display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 3rem; 
    }

}

@media screen and (min-width: 1300px){
    .trombiSection{
        margin-top: 2rem;
        display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 3rem; 
    }