.trombiSection{

    margin-top: 2rem;
display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.trombiDiv{
    background-color: white;
    padding: 4rem 5rem;
    border-radius: 30px;
    border: solid 2px;
    border-color: var(--border-color);
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (min-width: 600px){
    .trombiSection{
        margin-top: 2rem;
        display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 3rem; 
    }
    div{
        
    }
}