:root {
    --primary-background-color: #f76c6c;
    --secondary-background-color: #f0efef;
    --h1-text-color: #f76c6c;
    --main-font-color: #3b424e;
    --underline-hover-color: #ffd64f;
    --main-text-font:'Raleway', sans-serif;
    --title-text-font:'Varela Round', sans-serif;
    --border-color: #f76c6c;
    --navbar-transition-speed: .2s;

}